
main {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.intro__info {
  height: 100%;
}

.info__small-heading {
  font-size: 2rem;
  font-weight: 700;
  color: $colorfont;
}

.info__heading {
  font-size: 3rem;
  font-weight: 700;
  color: $colorfont;
  padding-bottom:  60px;
}

.item__text {
  font-weight: 600;
  font-size: 1rem;
  color: $colorfont;
  display: block;
}

.intro__right {
  height: 100%;
  width: 40%;
  box-sizing: border-box;
}

.intro__right > img {
  height: 75vh;
  max-width: 450px;
  max-height: 450px;
  display: block;
  border-radius: 5%;
  box-shadow: 2px 3px 6px 10px rgba(0, 0, 0, .13);
}

.intro__howto {
  margin: auto;
  position: relative;
  box-shadow: 2px 3px 6px 10px rgba(0, 0, 0, .13);
  background-color: white;
  box-sizing: border-box;
  border-radius: 5%;
  width: 45%;
  max-height: 100%;
  overflow-y: auto;
}

.intro__howto > ul {
  height: 75vh;
  max-height: 450px;
  padding: 20px;
  padding-left: 50px;
  padding-top: 40px;
}

.intro__howto >ul >li {
  padding:  0.3vw;
  font-size: 1.3vw;
  color: $colorfont2;
}

.intro__howto i {
  position: absolute;
  color: $colorborder;
  display: block;
  font-size: 2.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

//scores

.intro__scores {
  margin: auto;
  position: relative;
  box-shadow: 2px 3px 6px 10px rgba(0, 0, 0, .13);
  background-color: white;
  box-sizing: border-box;
  border-radius: 5%;
  width: 45%;
  max-height: 100%;
  overflow-y: auto;

  .default_text {
    font-size: 2rem;
    font-weight: 700;
    list-style: none;
    text-decoration: none;
  }
}

.intro__scores > ul {
  height: 75vh;
  max-height: 450px;
  padding: 20px;
  padding-left: 50px;
  padding-top: 40px;
}

.intro__scores >ul >li {
  padding:  0.3vw;
  font-size: 1.3vw;
  color: $colorfont2;
}

.intro__scores i {
  position: absolute;
  color: $colorborder;
  display: block;
  font-size: 2.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  right: 10px;
  top: 10px;
}
