.intro__game {
  box-shadow: 2px 3px 6px 10px rgba(0, 0, 0, .13);
  background-color: white;
  box-sizing: border-box;
  border-radius: 5%;
  width: 45%;
  max-height: 100%;
}

.intro__game table {
  margin: auto;
  height: 75vh;
  width: 100%;
  max-width: 450px;
  max-height: 450px;
  padding: 20px;
}

.intro__game table td {
  border: 1px solid black;
  width: 10%;
  height: 10%;
}

.intro__game table td span {
  border-radius: 50%;
  //background: red;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


