.intro__game {
  box-shadow: 2px 3px 6px 10px rgba(0, 0, 0, .13);
  background-color: white;
  box-sizing: border-box;
  border-radius: 5%;
  width: 45%;
  max-height: 100%;
}

.intro__game table td {
  border: 1px solid black;

}

.intro__game table {
  margin: auto;
  width: 450px;
  height: 450px;
  padding: 20px;
}
